@{ 
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<html>
<head>
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row d-flex justify-content-center pb-5">
            <div class="col-12 text-center pt-3 pb-5">
                <img class="img-fluid w-25" src="~/Content/image_UsuarioIndex/imagenpromocion_2.png" alt="" />
            </div>
            <div class="col-12 text-center">
                <p style="font-weight:bold;">
                    Bienvenido Usuario a tu Subscripción Cuenta Profesional
                </p>
                <hr />
            </div>
            <div class="col-4">
                <a href="/info/ResultadoNiveles?id=24&id2=1"><img class="img-fluid" src="~/Content/image_estadistica/6_boton_turismo_normal.png" alt="" /></a>
            </div>
            <div class="col-4">
                <a href="/info/ResultadoNiveles?id=24&id2=1"><img class="img-fluid" src="~/Content/image_estadistica/6_boton_turismo_normal.png" alt="" /></a>
            </div>
            <div class="col-4">
                <a href="/info/ResultadoNiveles?id=24&id2=1"><img class="img-fluid" src="~/Content/image_estadistica/6_boton_turismo_normal.png" alt="" /></a>
            </div>
        </div>
    </div>

</body>
</html>
