

<div class="container">
    <div class="row mt-md-5">
        <div class="col-md-2">
            <img class="img-fluid" src="~/Content/img/Imagenes_temas_colecciones/recuadrosweb_Agricultura_precios.png" />
        </div>
        <div class="col-md-3 d-flex">
            <h5 style="align-self:center;"><b>PRECIOS</b></h5>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 mt-md-3">
            <h5><b>Contenido de Plantaciones</b> </h5>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been

            </p>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been

            </p>
            <p>

                with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <p>

                with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </div>
</div>
