@{
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}


<div class="container">
    <div class="row mt-md-5">
        <div class="col-3 col-sm-3 col-md-2" style="text-align:end;">
            <img class="img-fluid" src="~/Images/simbolossolos_botones/simbolo_coleccion_agricultura.png" />
        </div>
        <div class="col-8 col-sm-9 col-md-10 " style="border-left: solid 0.5px #b0b0b0;">
            <h5 class="h5coleccion mt-5 mt-md-0 pt-sm-5 pt-md-0"><b>Agricultura</b></h5>
            <p class="pcoleccion d-none d-md-block">
                Las actividades agrícolas son un pilar fundamental para el desarrollo económico de nuestro país. 
                ¿Qué cultivos hay en Chile? ¿Cuáles son los que tienen mayor participación? ¿Cuáles son más
                eficientes? En la colección DataAgro podrás encontrar productos con información estadística 
                relativa a la producción agrícola, a su comercio y mano de obra asociada, entre otros muchos
                datos transformados en información a los que puedes acceder de manera rápida y con una visualización 
                que otorga la capacidad de identificar variables claves.
            </p>
        </div>
        <div class="col-12 d-block d-md-none">
            <p class="pcoleccion">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
        <div class="col-md-12 text-center mt-md-5" style="border-bottom: solid 0.5px #b0b0b0;">
            <h4>Especificaciones de la Sucripción</h4>
        </div>
    </div>
    <div class="row mt-md-5 justify-content-center">
        <div class="col-md-3">
            <img class="img-fluid" src="~/Content/img/Promociones/imagenpromocion_2.png" />
        </div>
        <div class="col-md-4 text-center"style="border-right:1px solid #b0b0b0">
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
        </div>
        <div class="col-md-4">
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
            Lorem Ipsum is simply dummy text of the printing and
        </div>
    </div>
    <!--Seccion de otras colecciones-->
    <div class="row justify-content-center mt-md-5">
        <div class="col-md-4">
            <p><b>Otras colecciones que te podrían interesarte</b> </p>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_glaciares.png" />
                </div>
                <div class="col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_ganaderia.png" />
                </div>
                <div class="col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_salud_enfermedades.png" />
                </div>
                <div class="col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_violenciacontralamujer.png" />
                </div>
                <div class="col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_pesca.png" />
                </div>
                <div class="col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_agricultura.png" />
                </div>
            </div>
            <div class="row mt-md-5">
                <div class="col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_educacion.png" />
                </div>
                <div class="col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_emisiones.png" />
                </div>
                <div class="col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_salud_pandemia.png" />
                </div>
                <div class="col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_elecciones.png" />
                </div>
                <div class="col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_contaminacion.png" />
                </div>
                <div class="col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_ingresosseguncasen.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--Seccion buscador-->
<div class="container-fluid mt-md-5" style="background-color: #C6CCDC; height:auto">
    <div class="row justify-content-center" style="padding-top:3%; padding-bottom:1%;">
        <div class="col-10 col-md-3" style="padding-left:6%;">
            <!--Buscador -->
            <form action="~/Data/PaginaBusqueda" method="get">
                <input type="text" id="id" name="id" placeholder="Busqueda de palabras claves" style="padding: 6px; border: none; border-top-left-radius: 3px; border-bottom-left-radius: 3px;">
                <button id="search-button" type="submit" value="Submit" class="btn btn-danger">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <div class="col-10 col-md-3 text-left">
            <h4 style="color:black; font-size:1.2rem;"><b>¡Explora, busca y encuentra!</b></h4>
            <p>todo nuestro universo de datos</p>
        </div>
        <div class="col-8 mb-3 col-md-2  offset-1">
            <img class="img-fluid" src="~/Content/img/negro-rojo-trans - copia.png" alt="" />
        </div>
    </div>
</div>
