<div class="container-fluid">
    <div class="row">
        <div class="col-4 col-sm-3 col-md-2">
            <img class="img-fluid" src="~/Images/menuLayout/1_on.png" />
        </div>
        <div class="col-8 col-sm-9 col-md-10 " style="border-left: solid 0.5px #CCC;">
            <h5 class="h5coleccion">Agricultura</h5>
            <p class="pcoleccion d-none d-md-block">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
        <div class="col-12 d-block d-md-none">
            <p class="pcoleccion">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid  d-block d-md-none">
    <div class="row">
        <div class="col-12 text-center ">
            <div id="carouselExampleControls" class="carousel slide p-sm-4" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card cardcoleccion">
                            <img src="~/Images/Rectangulo.png" class="d-block w-100 card-img-top" />
                            <div class="row">
                                <div class="col-10">
                                    <h6 class="card-title">EXPORTACIONE</h6>
                                </div>
                                <div class="col-2" style="z-index:100">
                                    <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="bi bi-info-circle"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card cardcoleccion">
                            <img src="~/Images/Rectangulo.png" class="d-block w-100 card-img-top" />
                            <div class="row">
                                <div class="col-10">
                                    <h6 class="card-title">IMPORTACIONES</h6>
                                </div>
                                <div class="col-2" style="z-index:100">
                                    <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="bi bi-info-circle"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card cardcoleccion">
                            <img src="~/Images/Rectangulo.png" class="d-block w-100 card-img-top" />
                            <div class="row">
                                <div class="col-10">
                                    <h6 class="card-title">PRECIOS</h6>
                                </div>
                                <div class="col-2"  style="z-index:100" >
                                    <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="bi bi-info-circle"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-2  d-none d-md-block">
    <div class="row">
        <div class="col-4 text-center ">
            <div class="card cardcoleccion">
                <img src="~/Images/Rectangulo.png" class="img-fluid card-img-top" />
                <div class="row">
                    <div class="col-10">
                        <h6 class="card-title">EXPORTACIONES</h6>
                    </div>
                    <div class="col-2">
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 text-center ">
            <div class="card cardcoleccion">
                <img src="~/Images/Rectangulo.png" class="img-fluid card-img-top" />
                <div class="row">
                    <div class="col-10">
                        <h6 class="card-title">IMPORTANCIONES</h6>
                    </div>
                    <div class="col-2">
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 text-center ">
            <div class="card cardcoleccion">
                <img src="~/Images/Rectangulo.png" class="img-fluid card-img-top" />
                <div class="row">
                    <div class="col-10">
                        <h6 class="card-title text-center">PRECIOS</h6>
                    </div>
                    <div class="col-2">
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-center ">
            <div class="card cardcoleccion">
                <img src="~/Images/Rectangulo.png" class="img-fluid card-img-top" />
                <div class="row">
                    <div class="col-10">
                        <h6 class="card-title">EMPRESA</h6>
                    </div>
                    <div class="col-2">
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 text-center ">
            <div class="card cardcoleccion">
                <img src="~/Images/Rectangulo.png" class="img-fluid card-img-top" />
                <div class="row">
                    <div class="col-10">
                        <h6 class="card-title">COSECHA AGRÍCOLA</h6>
                    </div>
                    <div class="col-2">
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 text-center">
            <div class="card cardcoleccion">
                <img src="~/Images/Rectangulo.png" class="img-fluid card-img-top" />
                <div class="row">
                    <div class="col-10">
                        <h6 class="card-title">EMPLEADOS</h6>
                    </div>
                    <div class="col-2">
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-center ">
            <div class="card cardcoleccion">
                <img src="~/Images/Rectangulo.png" class="img-fluid card-img-top" />
                <div class="card-body">
                    <div class="row">
                        <div class="col-10">
                            <h6 class="card-title">PLANTACIONES</h6>
                        </div>
                        <div class="col-2">
                            <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="bi bi-info-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 text-center ">
            <div class="card cardcoleccion">
                <img src="~/Images/Rectangulo.png" class="img-fluid card-img-top" />
                <div class="row">
                    <div class="col-10">
                        <h6 class="card-title">PRODUCCION</h6>
                    </div>
                    <div class="col-2">
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 text-center ">
            <div class="card cardcoleccion">
                <img src="~/Images/Rectangulo.png" class="img-fluid card-img-top" />
                <div class="row">
                    <div class="col-10">
                        <h6 class="card-title">RENDIMIENTO</h6>
                    </div>
                    <div class="col-2">
                        <a  data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" >
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-header" style="border-bottom:none !important">
                <div class="row">
                    <div class="col-4">
                        <img class="img-fluid" style="width:70%;" src="~/Images/menuLayout/22_on.png" />
                    </div>
                    <div class="col-8" style="border-left: solid 0.5px #CCC;">
                        <img class="img-fluid" style="width:70%;"  src="~/Images/Rectangulo.png" />
                    </div>
                    <div class="col-12 justify-content-center">
                        <h5 class="modal-title text-center" id="exampleModalLabel">EXPORTACIONES</h5>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <i class="bi bi-info-circle"></i> Regiones de Origen
            </div>
            <div class="modal-body">
                <i class="bi bi-info-circle"></i> Frutas
            </div>
            <div class="modal-body">
                <i class="bi bi-info-circle"></i> Países de Destino
            </div>
            <div class="modal-body">
                <i class="bi bi-info-circle"></i> Tipo de Procesamiento
            </div>
        </div>
    </div>
</div>
