
@{
    ViewBag.Title = "Estadisticas";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<div class="container-fluid content1 " style="background-color: #C6CCDC !important">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4" style="padding-top:2%; padding-bottom:2%;">
            <form action="~/Data/PaginaBusqueda" method="get" style="padding-top:3%;">
                <input type="text" id="id" name="id" placeholder="Busqueda de palabras claves" style="padding: 6px; border: none; border-top-left-radius: 3px; border-bottom-left-radius: 3px;">
                <button id="search-button" type="submit" value="Submit" class="btn btn-danger">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <div class="col-12 col-md-4" style="padding-top:2%; padding-bottom:2%;">
            <H3 style="margin:0 !important; font-weight:normal; padding-bottom:2%;">¡Explora, busca y encuentra!</H3>
            <h6 style="line-height:18px;">
                Somos un espacio creado para visualizar información.
                Ingresa una palabra clave y busca en nuestras bases de datos.
            </h6>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center mt-md-5">
        <div class="col-10 text-center">
            <h4>Imagina la información de un país en una sola plataforma</h4>
            <p>Esa es nuestra meta, crear el mayor centro de información en línea de todos los sectores del ámbito nacional</p>
            <p class="mt-md-3"><b>¡Busca en nuestras colección!</b></p>
        </div>
    </div>
</div>
<!--Seccion de otras colecciones-->
<div class="container">
    <div class="row justify-content-center mt-md-5 mb-md-5">
        <div class="col-md-4">
            <p><b>Otras colecciones que te podrían interesarte</b> </p>
        </div>
        <div class="col-md-10 ">
            <div class="row justify-content-center">
                <div class="col-10 col-sm-6 col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_glaciares.png" />
                </div>
                <div class="col-10 col-sm-6 col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_ganaderia.png" />
                </div>
                <div class="col-10 col-sm-6 col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_salud_enfermedades.png" />
                </div>
                <div class="col-10 col-sm-6 col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_violenciacontralamujer.png" />
                </div>
                <div class="col-10 col-sm-6 col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_pesca.png" />
                </div>
                <div class="col-10 col-sm-6 col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_agricultura.png" />
                </div>
            </div>
            <div class="row mt-md-5 justify-content-center">
                <div class="col-10 col-sm-6 col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_educacion.png" />
                </div>
                <div class="col-10 col-sm-6 col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_emisiones.png" />
                </div>
                <div class="col-10 col-sm-6 col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_salud_pandemia.png" />
                </div>
                <div class="col-10 col-sm-6 col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_elecciones.png" />
                </div>
                <div class="col-10 col-sm-6 col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_contaminacion.png" />
                </div>
                <div class="col-10 col-sm-6 col-md-2">
                    <img class="img-fluid" src="~/Content/img/Iconos recursos/icono_coleccion_ingresosseguncasen.png" />
                </div>
            </div>
        </div>
    </div>
</div>



