@{
    ViewBag.Title = "Resultado";
}

<html>
<head>
    <title></title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <p>lorem</p>
        </div>

        <div class="col-3">

        </div>

        <div class="col-3">

        </div>

        <div class="col-3">

        </div>
    </div>
</div>   
</body>
</html>
