@{
    ViewBag.Title = "Subscripciones";
}

<main role="main">
    <header>Subscripción @*Aquí hay que  insertar el tipo de sbuscripción seleccionada*@</header>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-header text-center">
                        Gráficos
                    </div>
                    <div class="card-body">
                        @*<h5 class="card-title">Special title treatment</h5>*@
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-header text-center">
                        Reporte Básico
                    </div>
                    <div class="card-body">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-header text-center">
                        Reporte PRO
                    </div>
                    <div class="card-body">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-header text-center">
                        Reporte++
                    </div>
                    <div class="card-body">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
