
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

@*Usuario no logeado*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Soporte</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top:0;">

    <div class="container" align="center">

        <div class="card mb-3" id="problema">
            <img src="~/Images/Error/IndexError.png" class="card-img-top" alt="No hay sesión activa">
            <div class="card-body">
                <h2 class="card-title" align="left">No hay sesión activa</h2>
                <br /><br />
                <h2 class="card-text" align="left">Problema:</h2>
                <p align="left">
                    <font size="5">
                        El usuario no ha iniciado sesión
                    </font>
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title" align="left">Solución:</h5>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card" style="padding-bottom:40px">
                            <p class="card-text" align="left" style="padding-left: 10px">
                                Si es usuario nuevo, puede <b>Registrarse</b><br />
                            </p>
                            <a href="~/Account/Register" class="btn btn-primary" style="width:150px; align-self:center">Registrarse</a>
                            <br />
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card" style="padding-bottom:1em">
                            <p class="card-text" align="left" style="padding-left: 10px">
                                Si ya posee una cuenta, <b>Inicie sesión</b>
                            </p>
                            <a href="~/Account/Login" class="btn btn-primary" style="width:150px; align-self:center">Inicie sesión</a>
                            <br />
                            <a href="~/Account/ForgotPassword">¿Olvidaste tu contraseña?</a>
                        </div>
                    </div>
                </div>
                <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
                <br />
                <a href="https://dataintelligence.store/collections/all" target="_blank" class="btn btn-primary"><ion-icon name="bag-handle-outline"></ion-icon>&nbsp;Tienda en línea</a>
                <br />
                <hr style="border:0px" />
                <div class="card-footer text-muted">
                    <h2>
                        Consulte también:
                    </h2>
                    <p>La pagina de <a href="https://dataintelligence.store/pages/preguntas-frecuentes" target="_blank">preguntas frecuentes </a>en la seccion de PROCESO DE COMPRA Y DEVOLUCIÓN/párrafo #4 ¿Qué puedo hacer si una plataforma que compré no funciona correctamente?</p>

                </div>
            </div>
        </div>

        <!--Código anterior de index-->
        <!-- 
    <br /><br /><br /><br />

    <div class="jumbotron" style="background-color:transparent;padding:0;">
        <!-- <h1 class="display-4">Error - Licencia caducada</h1>
        <img class="img-fluid" src="~/Images/Error/NOHAYSESIONACTIVA.jpg" style="width:100%;" />
    </div>
        <h2>No hay sesión activa</h2>

        <br /> <br />
        <h2>Problema:</h2>
        <p>
            <font size="5">
                El usuario no ha iniciado sesión
            </font>
        </p>
        <br />

        <h2>
            Solución:
        </h2>
        <p>
            <font size="5">
                <ul class="nav navbar-nav navbar-right">
                    <li>Si es un usuario nuevo, puede <b>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</b></li>
                    <li>Si ya tiene una cuenta, puede <b>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</b></li>
                    <li>Para recuperar la contraseña haga click <b><a href="~/Account/ForgotPassword">Aquí</a></b></li>
                </ul>
                <a href="https://dataintelligence.store/collections/all" target="_blank">Tienda en línea</a>
            </font>
        </p>
        <br />
        <h2>
            Consulte también:
        </h2>
        <p>La pagina de <a href="https://dataintelligence.store/pages/preguntas-frecuentes" target="_blank">preguntas frecuentes </a>en la seccion de PROCESO DE COMPRA Y DEVOLUCIÓN/párrafo #4 ¿Qué puedo hacer si una plataforma que compré no funciona correctamente?</p>




        <br />
        <br />

        <div class="jumbotron">
            <h3>¿No has encontrado lo que estabas buscando?</h3>
            <hr class="my-4">
            <br />
            <p>
                Nuestro centro de ayuda (Help Center) contiene las soluciones para casi cada falla técnica conocida. Si no puedes encontrar la respuesta a tu pregunta, por favor envía una solicitud de soporte utilizando el enlace a continuación.
            </p>
            <p class="lead">
                <br /> <br />
                <a class="btn btn-primary btn-lg" href="https://dataintelligence.store/pages/contacto-1" target="_blank" role="button">
                    Centro de Ayuda
                </a>
            </p>
        </div>

    </div>
    -->

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">¿No has encontrado lo que estabas buscando?</h5>

                    <p>
                        Nuestro centro de ayuda (Help Center) contiene las soluciones
                        para casi cada falla técnica conocida. Si no puedes encontrar
                        la respuesta a tu pregunta, por favor envía una solicitud de
                        soporte utilizando el enlace a continuación.
                    </p>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">Data Intelligence</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

</body>
</html>

