@media print {
    * {
        -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
        color-adjust: exact !important; /*Firefox*/
    }

    div.page {
        writing-mode: horizontal-tb;
    }

    body {
        transform: scale(1);
    }

    h1 {
        display: none !important;
    }

    .borrar {
        display: none !important;
    }

    @page {
        margin: 0;
        size: landscape;
    }
}
